* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400; /* o 500, según lo que prefieras */
  font-style: normal;
}

/* --------------------------------------------
   ENLACES
-------------------------------------------- */
a {
  text-decoration: none;
  color: inherit; /* Mismo color que el texto */
}
/* --------------------------------------------
   CABECERA
-------------------------------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #294959;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);  
}

header img {
  width: 10%;
}
header h2 {
  margin-left: 20%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 2rem;
}

nav {
  margin-right: 15rem;
}
nav a {
  color: white;
  margin: 0 30px;
  font-weight: bold;
  transition: color 0.3s;
}

h2{
  color: white;
  font-size: 2.5rem;
}

section {
  background-color: #1abc9c; 
}
.portada {
  display: flex;            /* activa Flexbox */
  justify-content: center;  /* centra horizontalmente */
  align-items: center;      /* centra verticalmente */
  height: 300px;            /* altura del contenedor */
  }
.portada img {
  max-width: 100%;  /* evita que se salga del contenedor */
  max-height: 100%;
}

.titulos {
  text-align: center;
  padding: 2rem;
}
.titulos2{
  text-align: center;
  color: black;
  margin-top: 6rem;
}

/* ----------------------------------------------------------------
      AQUI VA LA LINEA CON LA ESTRELLA QUE VA EN START BOOSTRAP
------------------------------------------------------------------*/
.linea {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.linea::before,
.linea::after {
  content: "";
  height: 3px;
  width: 80px;
  background-color: white;
  border-radius: 20px;
}

section p{
  color: white;
  text-align: center;
  padding-bottom: 5rem;
}

#portfolio{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;

}

.galeria{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.galeria img{
  max-width: 300px;
}

/* -----------------------------------------------------------
              INFORMACION APORTADA POR MI COMPAÑERO
--------------------------------------------------------------*/
.estrella{
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 2rem;
  color: white;
}

.about-text {
  color: #fff;
  font-size: 1rem;
  line-height: 1.4rem;
  max-width: 800px;
  margin: 20px auto;
  text-align: justify;
  display: flex;
}

.line1,
.line2 {
  flex: 1 1 300px;
  margin: 20px;
}

.boton {
  background-color: rgb(76, 190, 156);
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 12px 24px;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.boton:hover {
  background-color: #ffffff;
  color: rgb(76, 190, 156);
  transform: scale(1.05); /* Agranda ligeramente el botón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

#botonline {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
}


/* --------------------------------------------
   CONTACTO
-------------------------------------------- */
#contacto{
  justify-content: center;
}


/* --------------------------------------------
   PIE DE PÁGINA
-------------------------------------------- */
footer {
  background: #0c0e0c;
  color: white;
  text-align: center;
  padding: 30px 20px;
}

footer a {
  color: #e8f5e9;
}

